  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/proyectofinal/intro-img.jpg" alt="" class="img-fluid" style="opacity: 80%; border-radius: 45%;">
      </div>

      <div class="intro-info">
        <h2>¡Descubre<br><span>el mundo</span>, vive <br>aventuras infinitas!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
