/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

  #intro {
    width: 100%;
    position: relative;
    background: url("../../../assets/img/proyectofinal/background.jpg") center transparent;
    background-size: cover;
    padding: 400px 0 120px 0;
  }
  
  #intro .intro-img {
    width: 50%;
    float: right;
  }
  
  #intro .intro-info {
    width: 50%;
    float: left;
  }
  
  #intro .intro-info h2 {
    color: #111;
    margin-bottom: 150px;
    font-size: 55px;
    font-weight: 1000;
  }
  
  #intro .intro-info h2 span {
    color: #0d01ac;
    text-decoration: underline;
  }
  
  #intro .intro-info .btn-get-started,
  #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started {
    background: #184baa;
    border: 2px solid #041253;
    color: #fff;
  }
  
  #intro .intro-info .btn-get-started:hover {
    background: #1e0447;
    border-color: #0543c7;
    color: #888;
  }
  
  #intro .intro-info .btn-services {
    background: #184baa;
    border: 2px solid #0543c7;
    color: #fff;
  }
  
  #intro .intro-info .btn-services:hover {
    background: #1e0447;
    border-color: #0543c7;
    color: #888;
  }
  