  <button class="mobile-nav-toggle d-lg-none" type="button">
    <i class="fa fa-bars"></i>
  </button>
  
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="assets/img/proyectofinal/logo.png" alt="" class="img-fluid"></a>
        <a href="#intro" class="scrollto"><img src="assets/img/proyectofinal/time to travel.png" alt="" class="img-fluid"></a>
      </div>

      <app-nav></app-nav>

    </div>
  </header><!-- #header -->
