  .form #sendmessage {
    color: #007bff;
    border: 1px solid #007bff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .form #sendmessage.show,
  .form #errormessage.show,
  .form .show {
    display: block;
  }
  
  .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  .form input,
  .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .form button[type="submit"] {
    background: #184baa;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
  }
  
  .form button[type="submit"]:hover {
    background: #1e0447;
    color: #4e4e4e;
    cursor: pointer;
  }
  