  <div class="col-lg-4 col-md-6 portfolio-item {{filter}}" [attr.data-wow-delay]="delay + 's'"> <!-- filter-app cambia en otros fijarme como lo uno a este string-->
    <div class="portfolio-wrap">
      <img [src]="imagen" class="img-fluid" alt=""> <!-- "assets/img/proyectofinal/Lugares1.png" -->
      <div class="portfolio-info">
        <div>
          <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
        </div>
      </div>
    </div>
    <h4><a [href]="imagen" data-lightbox="portfolio" data-title={{titulo}} class="link-preview" title="Preview"><i class="ion ion-eye"></i>{{titulo}}</a></h4> <!-- Lugares 1 -->
    <p>{{parrafo}}</p> <!-- Lugares -->
  </div>
