  <div class="icon-box wow fadeInUp" [attr.data-wow-delay]="delay + 's'">
    <div class="icon"><i class={{icon}} ></i></div> <!-- "fa fa-shopping-bag" -->
    <h4 class="title"><a href=""> {{titulo}} </a></h4> <!-- Nuestra experiencia -->
    <p class="description" style="color: dodgerblue; font-weight: 600;" [innerHTML]="descripcion"></p> <!-- Con años de experiencia en la industria de viajes, nuestro equipo de expertos ha construido relaciones sólidas con proveedores de confianza y conocemos de primera mano los mejores lugares para visitar, las actividades más emocionantes y los alojamientos más cómodos. -->
  </div>
