    <div class="member">
      <img [src]="imagen" class="img-fluid" alt=""> <!-- assets/img/team-1.jpg -->
      <div class="member-info">
        <div class="member-info-content">
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a> <!-- -->
            <a href=""><i class="fa fa-facebook"></i></a> <!-- -->
            <a href=""><i class="fa fa-google-plus"></i></a> <!-- -->
            <a href=""><i class="fa fa-linkedin"></i></a> <!-- -->
          </div>
        </div>                
      </div>
    </div>
    <div class="name">
      <h4>{{nombre}}</h4> <!-- Walter White -->
      <span>{{puesto}}</span>  <!-- Gerente de Ventas -->
    </div>
